#content {
    /* position one-third from top, centered left-right */
    position: absolute;
    top: 33vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 100%;

    text-align: center;
}

#content h1 {
    margin-top: 0;
}

#content p {
    /* paragraph spacing */
    margin: 0.25rem;
}
